/* Pixel-to-rem calculator: https://nekocalc.com/px-to-rem-converter */

* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-primary: #5E2751;
  --color-primary-darker: #3A1832;
  --color-primary-lighter: #BD60A8;
  --color-primary-subtle: #F5E6F1;
  --color-green: #01A63E;
  --color-green-darker: #016526;
  --color-red: #E73F3F;
  --color-red-darker: #9F1414;
  --color-yellow: #FAC748;
  --color-yellow-darker: #BD8905;
  --color-black: #000;
  --color-white: #FFF;
  --color-grey: #ACA4AA;
  --color-grey-darker: #827780;
  --color-todo: #FFFFBF;
}

/* Primary Elements */
html {
  height: 100%;
  font-size: .75rem;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font: 300 1.25rem/1.75rem "Nunito", sans-serif;
  margin: 0 auto 1rem auto;
  text-align: center;
  font-synthesis: none;
  -moz-hanging-punctuation: first last allow-end;
  -ms-hanging-punctuation: first last allow-end;
  -webkit-hanging-punctuation: first last allow-end;
  hanging-punctuation: first last allow-end;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header,
section {
  box-sizing: border-box;
}

header {
  color: var(--color-black);
  background: var(--color-primary-subtle);
  width: 80%;
  border-radius: 5rem;
}

header figure {
  width: 60%;
  float: left;
  text-align: center;
  margin-top: -1.5rem;
}

header figcaption {
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
  font-size: 2.25rem;
  line-height: 3rem;
}

header figcaption a {
  color: var(--color-black);
  text-decoration: none;
}

header figcaption a:hover {
  color: var(--color-black);
  text-decoration: none;
}

footer {
  font-size: .875rem;
  padding: 1.5rem;
  box-sizing: border-box;
  color: var(--color-white);
  background: var(--color-primary);
  width: 77.188rem;
  clear: both;
}

footer h2 {
  margin: 1.25rem;
}

footer h2 {
  margin: 1.25rem;
}

footer a {
  color: var(--color-white);
  text-decoration: underline;
}

footer a:focus,
footer a:hover {
  color: var(--color-white);
  text-decoration-color: var(--color-white);
}

nav {
  padding: .25rem;
  height: 3.25rem;
  text-align: left;
}

nav a {
  color: var(--color-primary);
  display: block;
  padding: 0;
  text-decoration: none;
}

nav a:focus,
nav a:hover {
  color: var(--color-primary);
  text-decoration-color: var(--color-black);
}

  .footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
  width: 100%;
}

.footer-nav .nav-card {
  flex: 40%;
  margin-top: 1.25rem;
  text-align: center;
}

.footer-nav ul {
  list-style: none;
  margin: 1.25rem 0 0 0;
  padding: 0;
}

.footer-nav p {
  margin-top: 0;
}

.footer-nav .nav-card ul li {
  float: none;
  display: block;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer ul li {
  font-size: 1rem;
  margin-bottom: .75rem;
}

footer ul li a {
  color: var(--color-white);
  text-decoration: none;
}

ul,
ol {
  list-style-position: inside;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

li {
  margin-bottom: .375rem;
}

strong {
  font-weight: 600 !important;
}

blockquote {
  border-left: .75rem solid var(--color-light-grey);
  margin-left: 1.25rem;
  padding-left: 2.25rem;
}

/* Headings */

@keyframes appear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3.25rem;
  margin: 3rem 0;
  animation: appear 2s;
  animation-fill-mode: both;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.75rem;
  margin: 1.5rem 0;
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: normal;
}

h4 {
  font-size: 1.563rem;
  line-height: 2rem;
  font-weight: normal;
}


p {
  margin: 1.5rem 0;
}

/* Inline Elements */
a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-color: var(--color-grey);
  text-underline-offset: .25rem;
}

a:focus,
a:hover {
  color: var(--color-primary-lighter);
  text-decoration: underline;
}

a[href="#TODO"]::before {
  content: "TODO: ";
  font-weight: 600;
  color: #000000;
}

a[href="#TODO"] {
  background-color: var(--color-todo);
  opacity: 0.5;
  padding: .25rem;
  text-decoration: none;
}

strong {
  font-weight: 400;
}

code,
kbd {
  font-family: monospace;
  letter-spacing: .0625rem;
}

#veil {
  background: var(--color-white);
  width: auto;
}

/* Utility Classes */
.logo {
  display: inline-flex;
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
}

.error,
.important {
  color: var(--color-red);
  font-weight: 600;
}

.data-list {
  list-style: none;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-fill: balance;
  -ms-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  margin-left: 0;
}

.data-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  background: var(--color-primary);
  border-radius: .25rem;
  color: var(--color-white);
  display: inline-block;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1em;
  margin-right: .125rem;
  padding: .25rem .25rem .25rem .375rem;
  text-transform: uppercase;
}

.icon-md {
  background: var(--color-green);
}

.icon-txt {
  background: var(--color-orange);
}

.icon-adoc {
  background: var(--color-blue);
}

.icon:hover {
  background-color: var(--color-primary-lighter);
  color: var(--color-white);
}


.pill {
  background-color: var(--color-primary);
  border-radius: 1rem;
  color: var(--color-white);
  padding: 0 .5rem;
}

.pill:hover {
  background-color: var(--color-primary-lighter);
}

.pill a {
  color: var(--color-white);
  text-decoration: none;
}

.pill a:hover {
  color: var(--color-white);
  border-bottom: none;
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Interactive Map */

.map-container {
  width: 100%;
  margin: 1rem auto;
}

#world-map-static {
  display: block;
  margin: auto;
  width: 400px;
}

#world-map-interactive {
  width: 797px;
  height: 449px;
  margin: auto;
  display: block;
}

#infobox {
  display: none;
  font-size: .8rem;
  line-height: 1rem;
  padding: .5rem;
  text-align: left;
  width: 11rem;
  border: 1px solid var(--color-grey);
  border-radius: .5rem;
  background-color: var(--color-white);
}

.language-info {
  display: none;
}

header nav li:first-child {
  display: none;
}

header nav a {
  text-decoration: none;
  color: var(--color-primary);
}

header nav a:hover {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-black);
}

form {
  margin-top: 2em;
}

fieldset {
  border: 0;
}

fieldset:last-child {
  text-align: right;
}

label {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

label p {
  margin-bottom: 0rem;
}

button,
input[type="text"],
input[type="email"],
textarea {
  border: .0625rem solid var(--color-grey);
  font: inherit;
  padding: .125rem .25rem;
  border-radius: .75rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--color-primary);
}

input[type="text"].error,
input[type="email"].error,
textarea.error {
  border-color: var(--color-red)
}

.radio-form-group {
  float: left;
  text-align: left;
  clear: both;
}

.radio-form-group label {
  padding: 0em;
  float: left;
  font-weight: normal;
  margin: -2rem 1rem 2rem 1rem;
}

.radio-form-group input[type="radio"] {
  border: 0em;
  padding: 0em;
  margin: -.75em 2em 0em -1em;
}

.checkbox-form-group input[type="checkbox"] {
  margin-top: 1rem;
  margin-left: 0rem !important;
  float: left;
  width: 100%;
}

.checkbox-form-group label {
  font-weight: normal;
}

.checkbox-form-group label > :first-child {
  padding: 0em;
  width: 5em;
  margin-left: 1em;
}

input[type="checkbox"] {
  float: right;
  margin-left: 5em;
}

button {
  background-color: var(--color-primary);
  padding: .25rem 1rem;
  transition: background-color 0.5s;
  color: #fff;
}

button:hover {
  border-color: var(--color-primary-lighter);
}

input,
textarea {
  width: 100%;
}

textarea {
  min-height: 6.25rem;
  resize: none;
}

#colophon {
  clear: both;
  text-align: center;
  position: relative;
  border-top: 1px solid var(--color-white);
  margin-top: 1rem;
  font-size: 1rem;
}

#colophon .colophon-logo {
  flex: 25%;
}

#colophon .logo {
  height: 8rem;
  display: inline-block;
  margin: -1.65rem;
}

#colophon .colophon-copyright {
  text-align: center;
}

a.button {
  display: block;
  width: 9rem;
  background-color: var(--color-gold);
  color: var(--color-white);
  font-size: 1rem;
  padding: 0.25rem 1rem;
  margin: 0rem auto;
  border-radius: 13px;
  text-align: center;
}

a[target='_blank']::after {
  content: "";
  width: .8em;
  height: .8em;
  margin: 0 -0.25rem 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: baseline;
}


@media (min-width: 300px) {

  body {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    margin: 0 auto 1rem auto;
    padding: 2rem 2rem;
    width: 100%;
    border-radius: 0;
    height: 14rem;
  }

  header figcaption {
    font-weight: 600;
  }

  nav {
    position: absolute;
    top: 1.25rem;
    right: 0.5rem;
    display: inline-flex;
    text-align: left;
    color: var(--color-primary);
  }

  nav ul {
    margin-top: .5rem;
    list-style: none;
    padding: 0;
    text-align: left;
  }

  nav ul li {
    float: none;
    display: block;
    font-size: 1rem;
  }

  section {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 1.25rem;
  }

  footer {
    box-sizing: border-box;
    width: 100%;
    margin: 3rem auto 1rem auto;
    padding: 10% 15% 0 15%;
    padding-bottom: 45rem;
    border-bottom: 9rem solid var(--color-primary);
    height: 40rem;
  }

  .logo {
    display: inline-flex;
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    margin-top: 2rem;
  }

  #world-map-static {
    display: block;
    width: 400px;
  }

  #world-map-interactive {
    display: none;
  }

}
/* end @media (min-width: 300px) */


@media (min-width: 800px) {

  html {
    font-size: 1rem;
  }

  body {
    width: 100%;
  }

  header {
    width: 90%;
    border-radius: 5rem;
  }

  section {
    box-sizing: border-box;
    width: 60rem;
    margin: 0 auto 1rem auto;
  }

  nav {
    width: 55%;
    display: inline-flex;
    text-align: left;
    color: var(--color-primary);
  }

  nav ul li {
    float: left;
    margin: 0 1rem;
  }

  nav ul li a {
    text-decoration: none;
    transition: color .5s, background-color .5s
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  footer {
    padding: 0 15% 3rem 15%;
    border-bottom: 13rem solid var(--color-primary);
    height: 28rem;
  }

  header {
    position: relative;
    margin-top: 1rem;
    width: 90%;
    height: 3rem;
  }

  header figure {
    width: 40%;
    float: left;
    text-align: left;
    margin-top: -3.5rem;
  }

  header figcaption {
    margin-top: -3.5rem;
    margin-left: 3.75rem;
    font-size: 1.25rem;
    text-align: left;
  }

  nav ul li {
    font-size: .75rem;
  }

  .map-container {
    width: 100%;
    height: 450px;
  }

  #world-map-static {
    display: none;
    width: 400px;
    margin: 1rem auto;
  }

  #world-map-interactive {
    display: block;
  }

}

/* end @media (min-width: 800px) */
