<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  </head>
  <body{{ with .Section }} id="{{ . }}"{{ end }}>
    <div>
      <header>
        <figure>
          <a href="/">
            <img class="logo" src="/images/logo.svg" alt="Contributor Covenant logo, which looks like two c-shaped crescents nested together.">
          </a>
          <figcaption>
            {{ .Title }}
          </figcaption>
        </figure>
        {{ partial "navigation" . }}
      </header>
    </div>
    <div id="veil">
      {{ block "main" . }}
      {{ end }}
      <footer>
        <p>
          Contributor Covenant is stewarded by the <a href="https://ethicalsource.dev">Organization for Ethical Source</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
