<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  </head>
  <body{{ with .Section }} id="{{ . }}"{{ end }}>
    {{ partial "header" }}
    <div id="veil">
      {{ block "main" . }}
      {{ end }}
      {{ partial "footer" }}
    </div>
  </body>
</html>
