<footer>
  <a name="navigation"></a>
  <div class="footer-nav" name="navigation">
    <div class="nav-card">
      <ul>
        <li><a href="/adopt">Adopt</a></li>
        <li><a href="/learn">Learn</a></li>
        <li><a href="/adopters">Featured Adopters</a></li>
        <li><a href="https://opencollective.com/ethical-source" target="_blank">Donate</a></li>
      </ul>
    </div>

    <div class="nav-card">
      <h3>Contact Us</h3>
      <p>
        <a href="/contact">Send a message</a>
      </p>

      <h3>Social</h4>
        <p>
          Mastodon: <a href="https://fosstodon.org/@ethicalsource">@EthicalSource@fosstodon.org</a>
        </p>

      <h3>Media Inquiries</h4>
      <p>
        <li>press@ethicalsource.dev</li>
      </p>

    </div>
  </div>

  <div id="colophon">
    <figure class="colophon-logo">
      <a href="/">
        <img class="logo logo-white-vertical"
          alt="Organization for Ethical Source logo"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      </a>
    </figure>
    <div class="copyright">
      <p>
        &copy; Copyright {{ now.Format "2006" }} Organization for Ethical Source. Support us through <a href="https://opencollective.com/ethical-source">Open Collective</a>. This site does not use cookies or 3rd party analytics.
      </p>
    </p>
  </div>

</footer>

